<div class='subscription-bar__wrapper {{settings.plugin_outlet}}'>
    <div class='subscription-bar__container'>
        <div class='subscription-bar__title'>
            {{settings.subscribe_title}}
        </div>
        <div class='subscription-bar__button'>
            <a id="subscription-bar__button_text" {{on 'click' this.handleClick}}>
               [{{settings.subscribe_button_text}}]
                {{#if this.isMobile}}
                    m
                {{else}}
                    d
                {{/if}}
            </a>
            
        </div>

    </div>
</div>